<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
                 version="2.5">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>rabbitmq</servlet-name>
    <servlet-class>com.jack.pinpoint.rabbitmq.RabbitmqSender</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>rabbitmq</servlet-name>
    <url-pattern>/rabbitmq</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>topic</servlet-name>
        <servlet-class>com.jack.pinpoint.rabbitmq.TopicSender</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>topic</servlet-name>
        <url-pattern>/topic</url-pattern>
    </servlet-mapping>

</web-app>
