<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
                 version="2.5">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.jack.pinpoint.echo.Hello</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>entry</servlet-name>
        <servlet-class>com.jack.pinpoint.echo.EntryPoint</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>entry</servlet-name>
        <url-pattern>/entry</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>thrift</servlet-name>
        <servlet-class>com.jack.pinpoint.echo.ThriftServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>thrift</servlet-name>
        <url-pattern>/thrift</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>error</servlet-name>
        <servlet-class>com.jack.pinpoint.echo.ErrorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>error</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>attack</servlet-name>
        <servlet-class>com.jack.pinpoint.echo.AttackServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>attack</servlet-name>
        <url-pattern>/attack</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>postpara</servlet-name>
        <servlet-class>com.jack.pinpoint.echo.PostParaServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>postpara</servlet-name>
        <url-pattern>/postpara</url-pattern>
    </servlet-mapping>
</web-app>
